.grid{
    padding:0px !important;
}
.col-gray{
    text-align:center;
    background:#ececec;
    border:1px solid #fff;
    height: 110px;
}
.col-gray h5 {
    font-size: 14px;
    font-weight: 300;
    color: #888686;
}
.card-background-page{
    background: #f9f9f9;
}
.col-description{
    padding: 14px;
    text-align: justify;
}
.col-description .news-title{
    color: #555555;
    font-size: 16px;
    font-weight: 400;
}
.col-description .news-description{
    font-size: 12px;
    color: #7e7e7e;
}
