<ion-header>
    <ion-navbar color="danger">
        <ion-title>{{news.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <img src="{{news.urlToImage}}"/>
    <ion-grid>
        <ion-row>
            <ion-col class="col-gray">
                <h5>Author</h5>
                <p>{{news.author}}</p>
            </ion-col>
            <ion-col class="col-gray">
                <h5>Published Date</h5>
                <p>{{news.publishedAt| date: 'dd MMMM yyyy' }}</p>
            </ion-col>
            <ion-col class="col-gray">
                <h5>Source</h5>
                <p>{{news.source.name}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col class="col-description">
                <p class="news-title">{{news.title}}</p>
                <p class="news-description">{{news.description}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
