page-intro {
    .swiper-pagination-bullet-active {
        background: #e94d3c;
    }
}
.page-intro {
    .skip-text{
        text-align: right;
        padding: 35px 15px 0px 0px;
    }
    .skip-text>a{
        color:#fff;
        text-decoration:none;
        cursor: pointer;
    }
    .toolbar-background {
        background: #fff;
        border-color: transparent;
    }

    .slide-zoom {
        height: 100%;
    }

    .slide-title {
        margin-top: 0rem;
    }

    .slide-image {
        max-height: 87%;
        max-width: 100%;
        margin: 0px 0px 0px 0px;
    }

    b {
        font-weight: 500;
    }

    p {
        padding: 1px 14px;
        font-size: 14px;
        line-height: 1.5;
        color: #a7a3a3;
    }
    b {
        color: #000000;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 200;
        line-height: 1.2;
        font-size: 26px !important;
        color: #928d8d;
    }

}
.intro-wrapper-top{
    background-image: url('../assets/imgs/intro-wrapper.png');
    background-color: #e94d3c;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    height: 70vh;
}
.intro-wrapper-bottom{
    background:#fff;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    height: 30vh;
    padding-top:35px;
}
