<ion-content class="page-intro">
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <div class="intro-wrapper-top">
                <div class="skip-text"><a (click)='navHome();'>SKIP > </a></div>
                <img [src]="slide.image" class="slide-image"/>
            </div>
            <div class="intro-wrapper-bottom">
                <h1 class="slide-title" [innerHTML]="slide.title"></h1>
                <p [innerHTML]="slide.description"></p>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
