<ion-header>
  <ion-navbar color="danger">
    <ion-buttons left>
        <button ion-button icon-only (click)='dismiss();' class="my-style-for-modal">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Choose Newspaper</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

<ion-grid>
  <ion-row >
    <ion-col col-6 *ngFor="let news of posts" class="news-card">
    {{news.name}}	
	</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
