.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
}
.news-card{
    background: #e94d3d;
    height: 100px;
    border-radius: 10px;
    border:5px solid #fff;
    text-align:center;
    color:#fff;
    font-weight:bold;
    padding-top: 35px;
}
