<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entertainment Weekly</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngFor="let news of posts">
  <ion-card>
    <p class="card-subtitle"><ion-icon name="contact"></ion-icon> {{news.author}}</p>
    <img src="{{news.urlToImage}}"/>
    <p class="card-title" (click)="detailedView(news)" >{{news.title}}</p>
  </ion-card>
 </div>

</ion-content>
