page-home {

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    color: #fff;
    text-align: right;
    font-weight: bold;
  }

}
